/* Use only Dotclear small icon */
#header.tidy_dcicon {
  h1,
  h1 a {
    width: calc(32px + 0.5em) !important;
  }

  h1 a {
    background-image: url(style/dc_logos/dotclear-mini.svg);
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-image: url(style/dc_logos/dotclear-mini-alt.svg);
    }
  }

  #top-info-blog {
    padding-left: 0.5em;
  }
}

@media screen and (max-width: 43em) {
  #top-info-blog {
    margin-bottom: 0;
    padding: 0.5em 0 0 0.5em;
  }
}
#top-info-blog a {
  margin-left: 0.5em;
}
