/* Use only Dotclear small icon */
#header.tidy_dcicon h1,
#header.tidy_dcicon h1 a {
  width: calc(32px + 0.5em) !important;
  height: 32px;
  background-position-x: -270px;
  border-right: 1px solid var(--header-border);
}
#header.tidy_dcicon #top-info-blog {
  padding-left: 0.5em;
}
@media screen and (max-width: 43em) {
  #top-info-blog {
    margin-bottom: 0;
    padding: 0.5em 0 0 0.5em;
  }
}
#top-info-blog a {
  margin-left: 0.5em;
}
