/* Use only Dotclear small icon */
#header.tidy_dcicon {
  h1,
  h1 a {
    inline-size: calc(32px + 0.5em) !important;
  }

  h1 a {
    background-image: url(style/dc_logos/dotclear-mini.svg);
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-image: url(style/dc_logos/dotclear-mini-alt.svg);
    }
  }

  #top-info-blog {
    padding-inline-start: 0.5em;
  }
}
body.popup.tidy_dcicon {
  h1 {
    inline-size: 41px;
    block-size: 41px;
    background-image: url(style/dc_logos/dotclear-mini.svg);
    background-repeat: no-repeat;
    background-size: 38px;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 99;
    @media screen and (width <= 43em) {
      inline-size: 37px;
      block-size: 37px;
      background-size: 34px;
    }
  }

  h2 {
    margin-inline-start: 38px !important;
  }
}

@media screen and (max-width: 43em) {
  #top-info-blog {
    margin-block-end: 0;
    padding-block-start: 0.5em;
    padding-block-end: 0;
    padding-inline-start: 0.5em;
    padding-inline-end: 0;
  }
}
#top-info-blog a {
  margin-inline-start: 0.5em;
}
