#dock {
  --dock-gap: 0.75em;
  backdrop-filter: blur(10px);
  background-color: light-dark(rgba(255, 255, 255, 0.45), rgb(18 20 22 / 45%));
  border-radius: 1em;
  bottom: var(--dock-gap);
  box-shadow:
    0 0 20px -5px light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)),
    0 0 12px -7px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  display: flex;
  gap: var(--dock-gap);
  left: 50%;
  padding: var(--dock-gap);
  place-self: center;
  position: fixed;
  translate: -50% 0;
  align-items: center;
  z-index: calc(infinity);
}
#dock a {
  border-bottom: none;
}
#dock a:hover {
  filter: hue-rotate(45deg);
}
#dock img {
  width: 2em;
  vertical-align: middle;
}
@media screen and (width <= 43em) {
  #dock {
    display: none;
  }
}
