a.button.mini-config {
  display: flex;
  padding: 0.25em;
  img {
    inline-size: 1em;
    block-size: 1em;
  }
}
.new-stuff,
.top-add,
[role='alert'] {
  &.mini-config {
    margin-inline-end: 2.5em;
  }
}
