/* Search form in main menu moved in header */
#header.tidy_moved {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;

  #top-info-user {
    margin-inline-start: auto;
  }
}
#search-menu.tidy_moved {
  padding-block: 0.5em;
  padding-inline-start: 0;
  padding-inline-end: 0.5em;
  margin-inline-start: auto;

  p {
    display: flex;
    gap: 0.5em;
    align-content: center;
    justify-content: flex-start;
    margin: initial;
    inline-size: inherit;
  }

  #qx {
    color: FieldText;
    background-color: Field;
    background-image: none;
    text-indent: 0;
    inline-size: inherit;
  }

  input[type='submit'] {
    float: inherit;
    border: 1px solid var(--submit-color);
    color: var(--submit-color);
    background: var(--submit-background);

    &:hover {
      color: var(--submit-background);
      background: var(--submit-color);
    }
  }
}
