/* Search form in main menu moved in header */
#header.tidy_moved {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
#header.tidy_moved #top-info-user {
  margin-left: auto;
}
#search-menu.tidy_moved {
  padding: 0.5em 0.5em 0.5em 0;
  margin-left: auto;
}
#search-menu.tidy_moved p {
  display: flex;
  gap: 0.5em;
  align-content: center;
  justify-content: flex-start;
  margin: initial;
  width: inherit;
}
#search-menu.tidy_moved #qx {
  color: var(--body-color);
  background-color: var(--body-background);
  background-image: none;
  text-indent: 0;
  width: inherit;
}
#search-menu.tidy_moved input[type='submit'] {
  float: inherit;
  border: 1px solid var(--submit-color);
  color: var(--submit-color);
  background: var(--submit-background);
}
#search-menu.tidy_moved input[type='submit']:hover {
  color: var(--submit-background);
  background: var(--submit-color);
}
