#opts-forms {
  position: relative;
  .navigation {
    position: absolute;
    top: 0;
    right: 1em;
  }
}
@media screen and (width <= 48em) {
  #opts-forms {
    .navigation {
      display: none;
    }
  }
}
