textarea {
    font: 1em Monaco, "Courier New", Courier, monospace;
}
div.readme {
    margin: 1em auto;
    line-height: 1.2em;
    padding: 1em;
    border: 1px solid #fff;
}
div.readme h3, p {
    color: #fff;
}
.CodeMirror {
    height: 30em;
}
